@model ResetPasswordVm
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş</title>
    <link rel="stylesheet" href="~/css/login_page.css" />
</head>
<body class="auth-body">
    <div class="auth-container">
        <h2>Parolu Deyis</h2>
        <form asp-controller="Account" asp-action="ResetPassword" enctype="multipart/form-data" method="post">
            <input type="password" placeholder="Sifre" asp-for="Password" required>
            <span asp-validation-for="Password"></span>
            <input type="password" placeholder="Şifre Tesdiqle" asp-for="ConfirmPassword" required>
            <span asp-validation-for="ConfirmPassword"></span>
            <button type="submit">Parolu Deyis </button>
        </form>
    </div>
</body>
</html>

